services:
  mediars-backend-dev:
    container_name: mediars-backend-dev
    image: mediars/backend-dev:latest
    volumes:
      - .:/app
      - ./data/movies/raw/ml-latest/hf_cache:/root/.cache/huggingface
    build:
      context: .
      dockerfile: Dockerfile
      
    expose:
      - 8000
      - 5678
    env_file:
      - .env
    environment:
      DJANGO_SETTINGS_MODULE: api.api_project.settings
      PYTHONUNBUFFERED: "1"