services:
  mediars-backend-dev:
    container_name: mediars-backend-dev
    image: mediars/backend-dev:latest
    volumes:
      - ./media_rs:/app/media_rs
      - ./data/movies/raw/ml-latest/hf_cache:/root/.cache/huggingface
    build:
      context: .
      dockerfile: Dockerfile
      
    expose:
      - 5000
    env_file:
      - .env
    environment:
      PORT: 5000
    entrypoint: /bin/bash
    command: -c "set -e; /app/entrypoint.sh; tail -f /dev/null"