services:
  media-rs-backend-ci:
    container_name: media-rs-backend-ci
    image: media-rs/backend-ci:latest
    volumes:
      - .:/app
      - ./data/movies/raw/ml-latest/hf_cache:/root/.cache/huggingface
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 8000
      - 5678
    environment:
      HF_TOKEN: ${HF_TOKEN}
      HF_REPO_ID: ${HF_REPO_ID}
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      SUPABASE_MOVIE_TABLE: ${SUPABASE_MOVIE_TABLE}
      SUPABASE_BOOK_TABLE: ${SUPABASE_BOOK_TABLE}
      TMDB_KEY: ${TMDB_KEY}
      ALLOWED_HOST: ${ALLOWED_HOSTS_DEV}