services:
  media-rs-backend:
    container_name: media-rs-backend
    image: media-rs/backend:latest
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    expose:
      - 7860
    environment:
      HF_TOKEN: ${HF_TOKEN}
      HF_REPO_ID: ${HF_REPO_ID}
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      SUPABASE_TABLE: ${SUPABASE_TABLE}
      TMDB_KEY: ${TMDB_KEY}
      CACHE_FOLDER: ${CACHE_FOLDER}