services:
  media-rs-backend-dev:
    container_name: media-rs-backend-dev
    image: media-rs-backend-dev:latest
    volumes:
      - .:/app
      - ./data/movies/raw/ml-latest/hf_cache:/root/.cache/huggingface
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    expose:
      - 8000
      - 5678
    environment:
      ENVIRONMENT: development
      DJANGO_SETTINGS_MODULE: api.api_project.settings
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_ALLOWED_HOSTS: ${ALLOWED_HOSTS_DEV}

      HF_TOKEN: ${HF_TOKEN}
      HF_REPO_ID: ${HF_REPO_ID}
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      SUPABASE_TABLE: ${SUPABASE_TABLE}
      TMDB_KEY: ${TMDB_KEY}
      CACHE_FOLDER: ${CACHE_FOLDER}
      ALLOWED_HOST: ${ALLOWED_HOSTS_DEV}

    networks:
      - media-rs-network

networks:
  media-rs-network:
    external: true
    