services:
  media-rs-backend-ci:
    container_name: media-rs-backend-ci
    image: media-rs/backend-ci:latest
    volumes:
      - .:/app
      - ${{ github.workspace }}/hf_cache:/root/.cache/huggingface
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 8000
      - 5678
    environment:
      DJANGO_SETTINGS_MODULE: api.api_project.settings
      PYTHONUNBUFFERED: "1"

      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      HF_TOKEN: ${HF_TOKEN}
      HF_REPO_ID: ${HF_REPO_ID}
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      SUPABASE_TABLE: ${SUPABASE_TABLE}
    