services:
  media-rs-backend:
    container_name: media-rs-backend
    image: media-rs/backend:latest
    build:
      context: .
      dockerfile: Dockerfile
      target: prod
    expose:
      - 8000
    environment:
      ENVIRONMENT: production
      DJANGO_SETTINGS_MODULE: api.api_project.settings
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_ALLOWED_HOSTS: ${ALLOWED_HOSTS_PROD}
      CORS_ALLOWED_ORIGINS: ${FRONTEND_URL}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}

      HF_TOKEN: ${HF_TOKEN}
      HF_REPO_ID: ${HF_REPO_ID}
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      SUPABASE_TABLE: ${SUPABASE_TABLE}
      TMDB_KEY: ${TMDB_KEY}
      CACHE_FOLDER: ${CACHE_FOLDER}
      ALLOWED_HOST: ${ALLOWED_HOSTS_PROD}

    networks:
      - media-rs-network

networks:
  media-rs-network:
    external: true
    