services:
  media-rs-backend:
    container_name: media-rs-backend
    image: media-rs/backend:latest
    build:
      context: .
      dockerfile: Dockerfile
    expose:
      - 8000
      - 5678
    environment:
      DJANGO_SETTINGS_MODULE: api.api_project.settings
      PYTHONUNBUFFERED: "1"

      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      HF_TOKEN: ${HF_TOKEN}
      HF_REPO_ID: ${HF_REPO_ID}
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_KEY: ${SUPABASE_KEY}
      SUPABASE_TABLE: ${SUPABASE_TABLE}
      TMDB_KEY: ${TMDB_KEY}
      CACHE_FOLDER: ${CACHE_FOLDER}

    networks:
      - media-rs-network

networks:
  media-rs-network:
    external: true
    