name: Python CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      DJANGO_SETTINGS_MODULE: api.api_project.settings
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      HF_REPO_ID: ${{ secrets.HF_REPO_ID }}
      CACHE_FOLDER: ${{ github.workspace }}/hf_cache
      DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
      SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
      SUPABASE_KEY: ${{ secrets.SUPABASE_KEY }}
      SUPABASE_MOVIE_TABLE: ${{ secrets.SUPABASE_MOVIE_TABLE }}
      SUPABASE_BOOK_TABLE: ${{ secrets.SUPABASE_BOOK_TABLE }}
      TMDB_KEY: ${{ secrets.TMDB_KEY }}

    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: latest
          virtualenvs-in-project: true

      - name: Restore Hugging Face cache (global)
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/hf_cache
          key: hf-cache-global
          restore-keys: |
            hf-cache-global

      - name: Start CI containers
        run: docker compose -f docker-compose.ci.yml up -d --remove-orphans

      - name: Run tests with cached HF data
        run: docker compose -f docker-compose.ci.yml run --rm -e CACHE_FOLDER=${{ github.workspace }}/hf_cache media-rs-backend-ci poetry run pytest -vv

      - name: Save Hugging Face cache (global)
        if: always()
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/hf_cache
          key: hf-cache-global

      - name: Tear down CI containers
        if: always()
        run: docker compose -f docker-compose.ci.yml down -v
