name: Python CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      HF_REPO_ID: ${{ secrets.HF_REPO_ID }}
      CACHE_FOLDER: ${{ github.workspace }}/hf_cache

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Restore HF cache (empty first time)
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/hf_cache
          key: hf-cache-${{ runner.os }}-init

      - name: Build Docker container
        run: docker compose -f docker-compose.ci.yml build media-rs-backend-ci

      - name: Download Hugging Face files
        run: docker compose -f docker-compose.ci.yml run --rm -e CACHE_FOLDER=${{ github.workspace }}/hf_cache media-rs-backend-ci python -c "from media_rs.utils.movies.movie_data_cache import get_movie_data_cache; get_movie_data_cache()"

      - name: Save HF cache
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/hf_cache
          key: hf-cache-${{ runner.os }}-init